*,*::after*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: rgb(112, 112, 112);
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    width: 300px;
    height: 300px;
    border: solid red medium;
    margin: 300px auto;
    perspective: 700px;
}

.cube{
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: translateZ(150px) scale(1) rotateX(0deg) rotateY(0deg) translateZ(0px);
    position: relative;
}

.face{
    position: absolute;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}
.Longfaces{
    position: absolute;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 600px;
}

.backside{
    background: white;
    transform: rotateX(180deg) translateZ(150px);
}
.frontside{
    background: red;
    transform: rotatey(0deg) translateZ(150px);
    /* opacity: 0; */

}
.leftside{
    background: Blue;
    transform: rotatey(-90deg) translateZ(150px);

}
.rightside{
    background: yellow;
    transform: rotatey(+90deg) translateZ(150px);
}
.topside{
    background: yellowgreen;
    transform: rotatex(90deg) translateZ(150px);

}
.bottomside{
    background: orange;
    transform: rotatex(-90deg) translateZ(450px);

}






