*,*::after*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.book{
    border: solid red 1px;
    width: 800px;
    height: 500px;
    display: flex;
    perspective: 700px;
    transform-style: preserve-3d;
}

.LeftSide{
    width: 50%;
    height: 100%;
    position: relative;
    /* perspective: 700px; */
    /* background: #000; */
}

.LeftSide>.cover{
    width: 100px;
    height: 100px;
    background: gray;
    border: solid black 2px;
    position: absolute;
}

.Lfront{
    transform: translateZ(50px);
}

.Lback{
    transform: translateY(180deg) translateZ(-50px)  ;

}

